
body{
    background-color: black;
    color: white;
}
/* 
.row>*{
    padding: 0;
} */

.explanation-text{
    font-size: .875rem;
    line-height: 1.6rem;
}

.video-and-img-banner{
    width: 100%;
}

.buttons{
    margin-top: 8px;
}

.buttons a{
    margin: 15px 0;
    background-color: white;
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    font-size:large;
}

.button-with-icon a{
    text-decoration: none;
    color: #fff;
    
}

.add-new-div{
    margin: 50px 0;
}

/* yeni bir çağ resim */
.new-era{
    background-image: url("./img/1-Dawn\ of.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
}

/* yeni bir çağ yazı */
.new-era .content{
    margin: 0 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
}

/* yeni bir çağ anasayfa ikon */
.main-menu{
    margin: 35px 15px;
    opacity: 0.4;
    font-size: 15px;
}

/* yeni nesil dağ bisikleti */
.about-mountain-bike{
    text-align: center;
    margin: 3% 10%;
}

.about-mountain-bike .buttons{
    margin: 30px 0;
}

/* bu dünyanın dışında bir dünya resim */
.down-to-earth img{
    width: 100%;
    height: 100%;
}

.down-to-earth{
    position: relative;
}

.down-to-earth-1-content{
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 5;
}

/* bisiklet özellikleri */
.bike-attributes{
    margin: 35px 90px;
    text-align: center;
}

.bike-attributes .col-md-3{
    margin: 5% 0px;
}

.bike-attributes .col-md-3 img{
    width: 65%;
    margin-bottom: 14px;
}

.reviews{
    position: relative;
}

.reviews-content{
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 5;
}

.reviews-img{
    background-image: url("img/7-The\ most.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
}

.reviews-content h4{
    margin-top: 80px ;
}


/* ödüller */
.awards{
    margin: 35px 90px;
    text-align: center;
}

.awards .col-md-4 img{
    width: 70%; 
}

.awards .col-md-4{
    margin: 15px 0;

}

.awards .col-md-4 h3,
.awards .col-md-4 p{
    text-align: start;
}

.awards .col-md-4 .buttons-part a{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    text-decoration: none;
}

.awards .col-md-4 .buttons-part a i{
    margin-left: 9px;
    color: gray;
    font-size: 20px;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.slider {
    display: flex;
    width: 33%;
}
  
.slider-item {
    flex-shrink: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}
  
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    color: gray;
    font-size: 24px;
}
  
.prev-button {
    left: 0;
    margin-right: 60px;
}
  
.next-button {
    right: 0;
    margin-left: 60px;
}

/* yoldaki en iyi arkadaşın */
.on-the-trail{
    margin: 35px 0 0;
    position: relative;
}


.on-the-trail .the-trail-img img{
    width: 100%;
    height: 100%;
}


.on-the-trail .the-trail-video video{
    width: 100%;
    height: 100%;
}

.on-the-trail-text{
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 5;
}

.the-trail{
    position: relative;
}

.the-trail-video-text{
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 5;
}

.the-trail-text{
    margin: 50px;
    text-align: center;
}

.the-trail-text .buttons{
    margin: 40px 0;
}

.featherweight{
    position: relative;
}

.featherweight-img-content{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    margin: 0 40px;
}
.featherweight .featherweight-img{
    padding: 0;
}

.featherweight .featherweight-img img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.featherweight .featherweight-video{
    padding: 0;
}

.featherweight .featherweight-video video{
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 0;
}


.good-bad-sounds{
    position: relative;
}
.good-bad-sounds-content{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    margin-left: 40px;
}

.less-more{
    text-align: center;
    margin: 35px 90px;
}
.graphs{
    text-align: center;
    margin: 40px 75px;
}

.graphs .row{
    margin: 0 45px;
}

.tonality-graph img,
.cadence-graph img{
    width: 100%;
}

.tonality-graph h3,
.cadence-graph h3{
    font-size: 1.875rem;
    line-height: 1.563rem;
    font-weight: bold;

}

.tonality-graph p,
.cadence-graph p{
    text-align: start !important;
}


.true-trail{
    margin: 50px 0;
    position: relative;
}

.true-trail .true-trail-video video{
    width: 100%;
}

.true-trail-content{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 5;
}


.true-trail-text{
    text-align: center;
    margin: 0 60px;
}


.built-bike{
    margin: 35px 0;
}

.built-bike h3{
    font-size: 1.875rem;
    line-height: 1.563rem;
    font-weight: bold; 
    text-align: center;
}

.built-bike img{
    width: 100%;
}

.built-bike-numbers-mean .col-md-4 h3{
    text-align: start;
}

.adjustable-parts .screw-img{
    padding: 0;
}

.adjustable-parts .screw-text{
    margin: 80px 40px 0;
}
.nothing-like-it{
    position: relative;
}

.nothing-like-it-text{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    margin-left: 40px;
}

.nothing-like-it-img img{
    width: 100%;
}

.accessory-attribute{
    margin-top: 40px;
    margin-bottom: 40px;
}


.accessory-attribute-row{
    margin-top: 60px;
}


.accessory-attribute-row .col-md-4 img{
    width: 100%;
}

.water-bottle{
    position: relative;
} 
.water-bottle-content{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 5;

}

.water-bottle-explanation{
    margin: 0 30px 90px;
    text-align: center;
}

.mobile-app-banner{
    margin: 55px 0;
}
.mobile-app-banner{
    position: relative;
}
.mobile-app-banner-img{
    background-image: url("img/23-Trek\ Central.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}


.mobile-app-banner-content{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 5;
}


.mobile-app .col-md-4{
    margin-top: 5px;
}

.mobile-app .mobile-app-screen-img img{
    width:100%;
    text-align: center;
}

.mobile-app .mobile-app-screen-mean{
    margin: 15px 35px;
}


.shopping-part{
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px 0;
}

.choose-buttons{
    margin-top: 30px;
}

.choose-buttons a{
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.choose-buttons a i{
    margin-left: 4px;
    font-size: 14px;
    color: gray;
}

.better-with-trek{
    position: relative;
}

.better-with-trek-img{
    background-image: url("img/30-Trails\ are\ better.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 60vh;
}

.better-with-trek-content{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 5;
}

@media screen and (max-width:500px){
    .new-era .content{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .new-era .content .buttons a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .down-to-earth-1-content{
        position: absolute;
        top: 10%;
        left: 0;
        z-index: 5;
    }

    .reviews-img{
        background-image: url("img/7-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40vh;
    }

    .reviews-content{
        position: absolute;
        top: 20%;
        left: 0;
        z-index: 5;
    }
    .on-the-trail-text{
        position: absolute;
        top: 22%;
        left: 2%;
        z-index: 5;
    }
    
    .the-trail-video-text{
        position: absolute;
        top: 50%;
        left: 20%;
        z-index: 5;
    }

    .good-bad-sounds-content{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        margin-left: 10px;
    }
    
    .true-trail-content{
        position: absolute;
        top: 15%;
        left: 20%;
        z-index: 5;
    }

    .nothing-like-it-text{
        position: absolute;
        top: 3%;
        left: 0;
        z-index: 5;
        margin-left: 2px;
    }

    .water-bottle-content{
        position: absolute;
        top: 20%;
        left: 8%;
        z-index: 5;
    }

    .mobile-app-banner-img{
        background-image: url("img/23-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
    }

    .mobile-app-banner-content{
        position: absolute;
        top: 35%;
        left: 16%;
        z-index: 5;
        text-align: center;
    }

    .mobile-app-banner-content .buttons a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-app-content .buttons a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .better-with-trek-content{
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 5;
    }
    .better-with-trek-img{
        background-image: url("img/30-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 45vh;
    }

    .graphs{
        text-align: center;
        margin: 40px 20px;
    }

    .slideshow-container{
        display: none;
    }

    #carouselExampleControls{
        display: block !important;
    }
}



.slideshow-container{
    position: relative;
    background: black;
}
  
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}
  
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}



.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
#carouselExampleControls{
    display: none;
}